<div id="estructurales" class="mb-5 categoria-seccion">
                    <h2 class="fw-bold text-primary-blue border-bottom pb-2 mb-4">1. Etiquetas Estructurales</h2>
                    <div class="row">

                        <div class="col-md-6 mb-4 reveal">
                            <div class="card h-100 shadow-sm border-0 tag-card">
                                <div class="card-body">
                                    <h4 class="tag-title">&lt;header&gt;</h4>
                                    <p><strong>Explicación:</strong> Define la cabecera de una página o sección.
                                        Generalmente contiene logo, título, menú de navegación o introducción..</p>
                                    <p><strong>Uso:</strong>Se utiliza para mostrar la parte superior del sitio web.</p>
                                    <button class="btn btn-outline-primary btn-sm mb-3"
                                        onclick="mostrarCodigo(this)">Ver Código</button>
                                    <div class="d-none code-container">
                                        <pre><code>&lt;header&gt;
    &lt;h1&gt;Sena&lt;/h1&gt;
    &lt;p&gt;Sofia Plus&lt;/p&gt;
&lt;/header&gt;</code></pre>
                                    </div>
                                     <div class="preview-box">
                                        <header>
                                            <h4>Sena</h4>
                                            <p>Sofia Plus</p>
                                        </header>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 reveal">
                            <div class="card h-100 shadow-sm border-0 tag-card">
                                <div class="card-body">
                                    <h4 class="tag-title">&lt;nav&gt;</h4>
                                    <p><strong>Explicación:</strong> Contiene enlaces de navegación para el sitio web.
                                    </p>
                                    <p><strong>Uso:</strong> Se utiliza para crear un menú de navegación que permita al
                                        usuario moverse por el sitio.</p>
                                    <button class="btn btn-outline-primary btn-sm mb-3"
                                        onclick="mostrarCodigo(this)">Ver Código</button>
                                    <div class="d-none code-container">
                                        <pre><code>&lt;nav&gt;
    &lt;a href="#inicio"&gt;Inicio&lt;/a&gt;
    &lt;a href="#acercaDe"&gt;Acerca de&lt;/a&gt;
    &lt;a href="#contacto"&gt;Contacto&lt;/a&gt;
&lt;/nav&gt;</code></pre>
                                    </div>
                                      <div class="preview-box">
                                       <nav>
                                            <a href ="#inicio">Inicio</a>
                                            <a href ="#acercaDe">Acerca De</a>
                                            <a href ="#contacto">Contacto</a>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 reveal">
                            <div class="card h-100 shadow-sm border-0 tag-card">
                                <div class="card-body">
                                    <h4 class="tag-title">&lt;section&gt;</h4>
                                    <p><strong>Explicación:</strong> Representa una sección temática del contenido.</p>
                                    <p><strong>Uso:</strong>Sirve para dividir el contenido en partes organizadas.</p>
                                    <button class="btn btn-outline-primary btn-sm mb-3"
                                        onclick="mostrarCodigo(this)">Ver Código</button>
                                    <div class="d-none code-container">
                                        <pre><code>&lt;section&gt;
    &lt;h3&gt;Example&lt;/h3&gt;
    &lt;p&gt;Lorem ipsum, dolor sit amet consectetur adipisicing elit. &lt;/p&gt;
&lt;/section&gt;</code></pre>

                                    </div>
                                    <div class="preview-box">
                                        <section>
                                            <h3>Example</h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 reveal">
                            <div class="card h-100 shadow-sm border-0 tag-card">
                                <div class="card-body">
                                    <h4 class="tag-title">&lt;footer&gt;</h4>
                                    <p><strong>Explicación:</strong> Define el pie de página de una página o sección.
                                        Generalmente contiene información de copyright, enlaces a políticas de
                                        privacidad o contactos.</p>
                                    <p><strong>Uso:</strong> Se utiliza para mostrar información adicional al final del
                                        sitio web.</p>
                                    <button class="btn btn-outline-primary btn-sm mb-3"
                                        onclick="mostrarCodigo(this)">Ver Código</button>
                                    <div class="d-none code-container">
                                        <pre><code>&lt;footer&gt;
    &lt;p&gt; 2026 Mi Web. Todos los derechos reservados.&lt;/p&gt;
&lt;/footer&gt;</code></pre>
                                    </div>
                                    <div class="preview-box">
                                        <footer>
                                            <p>2026 Mi Web. Todos los derechos reservados.</p>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>