 
                <div id="formularios" class="mb-5 categoria-seccion">
                    <h2 class="fw-bold text-primary-blue border-bottom pb-2 mb-4">4. Formularios</h2>
                    <div class="row">

                        <div class="col-md-6 mb-4 reveal">
                            <div class="card h-100 shadow-sm border-0 tag-card">
                                <div class="card-body">
                                    <h4 class="tag-title">&lt;input&gt;</h4>
                                    <p><strong>Explicación:</strong> Campo de entrada de datos.</p>
                                    <p><strong>Uso:</strong> Permite al usuario escribir texto, contraseñas, seleccionar
                                        fechas, etc.</p>
                                    <button class="btn btn-outline-primary btn-sm mb-3"
                                        onclick="mostrarCodigo(this)">Ver Código</button>
                                    <div class="d-none code-container">
                                        <pre><code>&lt;input type="text" placeholder="Escribe un mensaje"&gt;</code></pre>
                                    </div>
                                    <div class="preview-box">
                                        <input type="text" class="form-control" placeholder="Escribe un mensaje">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 mb-4 reveal">
                            <div class="card h-100 shadow-sm border-0 tag-card">
                                <div class="card-body">
                                    <h4 class="tag-title">&lt;form&gt;</h4>
                                    <p><strong>Explicación:</strong> Contenedor para agrupar elementos de formulario.
                                    </p>
                                    <p><strong>Uso:</strong> Permite organizar y estructurar los elementos de entrada
                                        del usuario.</p>
                                    <button class="btn btn-outline-primary btn-sm mb-3"
                                        onclick="mostrarCodigo(this)">Ver Código</button>
                                    <div class="d-none code-container">
                                        <pre><code>&lt;form&gt;
    &lt;label for="nombre" class="form-label"&gt;Nombre&lt;label&gt;
    &lt;input type="text" class="form-control" id="nombre" placeholder="Escribe tu nombre"&gt;
&lt;/form&gt;</code></pre>
                                    </div>
                                    <div class="preview-box">
                                        <form>
                                            <div class="mb-3">
                                                <label for="nombre" class="form-label">Nombre</label>
                                                <input type="text" class="form-control" id="nombre"
                                                    placeholder="Escribe tu nombre">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 reveal">
                            <div class="card h-100 shadow-sm border-0 tag-card">
                                <div class="card-body">
                                    <h4 class="tag-title">&lt;label&gt;</h4>
                                    <p><strong>Explicación:</strong> Etiqueta que describe el propósito de un campo de
                                        entrada.</p>
                                    <p><strong>Uso:</strong> Mejora la accesibilidad y la experiencia del usuario al
                                        proporcionar contexto para los campos de formulario.</p>
                                    <button class="btn btn-outline-primary btn-sm mb-3"
                                        onclick="mostrarCodigo(this)">Ver Código</button>
                                    <div class="d-none code-container">
                                        <pre><code>&lt;label for = "correo"&gt; Correo&lt;/label&gt;
&lt;input type="email" id="correo" placeholder= "Escribe tu correo"&gt;</code></pre>
                                    </div>
                                    <div class="preview-box">
                                        <form>
                                            <div class="mb-3">
                                                <label for="correo" class="form-label">Correo</label>
                                                <input type="email" class="form-control" id="correo"
                                                    placeholder="Escribe tu correo">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 reveal">
                            <div class="card h-100 shadow-sm border-0 tag-card">
                                <div class="card-body">
                                    <h4 class="tag-title">&lt;button&gt;</h4>
                                    <p><strong>Explicación:</strong> Elemento que actúa como un botón para enviar un
                                        formulario o realizar una acción.</p>
                                    <p><strong>Uso:</strong> Se utiliza para permitir que los usuarios interactúen con
                                        el formulario de manera intuitiva.</p>
                                    <button class="btn btn-outline-primary btn-sm mb-3"
                                        onclick="mostrarCodigo(this)">Ver Código</button>
                                    <div class="d-none code-container">
                                        <pre><code>&lt;button type="submit"&gt;Enviar&lt;/button&gt;</code></pre>
                                    </div>
                                    <div class="preview-box">
                                        <form>
                                            <div class="mb-3">
                                                <button type="submit">Enviar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
